body {
    margin: 0;
    width: 100vw;
    height:100vw;
    overflow: hidden;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-areas: 
    'group-container messages messages'
    'group-container message-container message-container';
    height:auto;
}



#nav-container {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#group-side-bar {
    grid-area: group-container;
    width: 30vw;    
}

#search-box {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    width: 100%;
}

#search-button {
    margin: 0;
    
}

#group-container {
    display: flex;
    flex-direction: column;
    
    
}

.group {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;

    
}

.unread {
    box-sizing: border-box;
    
}

.unread::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 100%;
}



.focused {
    background-color: lightgray;
}



#message-container {
    grid-area: message-container;
    
    bottom: 0;
    right: 0;
    width:70vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form {
    
}


#group-name {
    text-align: center;
    width: 100%;
}


.message-text {
    font-size: 1.1rem;
    text-wrap:wrap;
    word-break: break-word;
}

#message-box {
    width: 80%;
    margin: 10px 5px;
}

#messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;

    overflow-y: scroll;
    overflow-x: hidden;

}

#messages::-webkit-scrollbar {
    width: 8px;
    background-color: lightgray;
}

#messages::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: gray;
    border-radius: 0px;
}

.new-message-right {
    animation-name: float-right;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(.18,.92,.84,1.05);
}

.new-message-left {
    animation-name: float-left;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(.18,.92,.84,1.05);
}

.text-light-grey {
    color: rgb(201, 201, 201)
}
  

#messages-container {
    grid-area: messages;
    width: 100%;
    min-width: 60vw;
    display:flex;
    flex-direction: column;
    align-items: start;
}



@keyframes float-left {
    0% {transform: translate(-30vw);}
    100% {transform: translate(0);}
}

@keyframes float-right {
    0% {transform: translate(30vw);}
    100% {transform: translate(0);}
}